:root
  { --text : #eee
  ; --bg : #222
  ; --font-size : 16pt
  ; --line-height : 1.5rem

  ; --red : #f62a44
  ; --rose : #fabfab
  ; --yellow : #f4e7a3
  ; --lime : #00ff33
  ; --blue : #04b0fa
  ; --pink : #fd4b7a
  ; --purple : #dda1c5
  ; --turquoise : #42f8bc
  ; --light-gray : #aaa
  ; --brown : #6e5c45
  ; --light-green : #baf39e
  ; --dark-gray : #333
  ; --white : #fff
  }

* { all : unset
  ; word-wrap : break-word
  ; flex-wrap : wrap
  ; color : var( --text )
  ; font-size : var( --font-size )
  ; line-height : var( --line-height )
  ; font-family : 'DejaVu Sans Mono'
                , 'PT Mono'
                , 'Menlo'
                , 'Consolas'
                , 'Monaco'
                , monospace
  }

head > *
, title
, style
, script
, [hidden]
  { display : none }

a { text-decoration : underline }
a:any-link { cursor : pointer }
a:is( :active
    , :hover
    , :focus
    )
  { color : var( --white ) }

body
  { background : var( --bg )
  ; padding : calc( 2 * var( --line-height ) )
  ; display : flex
  ; flex-direction : column
  }

body > *
  { position : relative }

h1::before
, h2::before
, blockquote::before
, q::before
, a.info::before
  { position : absolute
  ; right : 100%
  ; margin-right : 1ch
  ; display : inline-block
  ; text-align : right
  }

h1::before
  { content : '~' }
h2::before
  { content : '+' }
blockquote::before
  { content : '>' }
q::before
  { content : '!' }
a.info::before
  { content : '?' }

h2
, q
  { margin-top : var( --line-height ) }


/* categories */
section.categories
  { line-height : 2em
  ; margin-top : 1em
  }

.cat
  { padding : 0.25rem 0.5rem
  ; border-radius : 0.25rem
  ; margin-top : 1rem
  ; text-decoration : none
  }

/* colors */
.cat.audio { background : var( --purple ); color : var( --bg ) }
.cat.code { background : var( --dark-gray ); color : var( --white ) }
.cat.comic { background : var( --white ); color : var( --bg ) }
.cat.graphics { background : var( --red ); color : var( --white ) }
.cat.meme { background : var( --lime ); color : var( --bg ) }
.cat.photo { background : var( --yellow ); color : var( --bg ) }
.cat.shitpost { background : var( --brown ); color : var( --white ) }
.cat.sketch { background : var( --turquoise ); color : var( --bg ) }
.cat.text { background : var( --light-gray ); color : var( --bg ) }
.cat.typography { background : var( --rose ); color : var( --bg ) }
.cat.video { background : var( --light-green ); color : var( --bg ) }
.cat.web { background : var( --blue ); color : var( --white ) }
