  a
, body
, nav
, input
, form
{
	display: flex;
	gap: 0.5rem
}

body
{
	margin:0;
	padding:0;
}

nav
{
	flex-direction: column;
	width: 10rem;
	padding: 1rem;
}

main
{
	padding: 1rem 0;
}

input[type='search']
{
	width: 100%;
}

form
{
	flex-direction: column;
}