:root
  { --text : hsl( 60, 36%, 96% )
  ; --bg : hsl( 70, 8%, 15% )
  ; --font-size : 16pt
  ; --line-height : 1.5rem

  ; --red : hsl( 0, 93%, 59% )
  ; --light-red : hsl( 0, 93%, 79% )
  ; --dark-red : hsl( 0, 75%, 59% )
  ; --orange : hsl( 32, 98%, 56% )
  ; --light-orange : hsl( 46, 98%, 50% )
  ; --dark-orange : hsla( 32, 98%, 80%, 40% )
  ; --yellow : hsl( 54, 70%, 68% )
  ; --light-yellow : hsl( 54, 100%, 80% )
  ; --dark-yellow : hsla( 54, 70%, 68%, 35% )
  ; --green : hsl( 80, 76%, 53% )
  ; --dark-green : hsl( 140, 76%, 50% )
  ; --blue : hsl( 190, 81%, 67% )
  ; --light-blue : hsl( 190, 100%, 60% )
  ; --dark-blue : hsl( 190, 67%, 47% )
  ; --purple : hsl( 261, 100%, 75% )
  ; --rose : hsl( 338, 95%, 56% )
  ; --dark-rose : hsl( 338, 95%, 30% )
  ; --gray : hsl( 50, 11%, 41% )
  ; --light-gray : hsl( 50, 11%, 81% )
  ; --dark-gray : hsl( 50, 11%, 21% )
  }


* { margin : 0
  ; padding : 0
  ; word-wrap : break-word
  ; flex-wrap : wrap
  ; text-decoration : none
  ; color : var( --text )
  ; font-size : var( --font-size )
  ; line-height : var( --line-height )
  ; font-weight : normal
  ; font-style : normal
  ; font-family : 'DejaVu Sans Mono'
                , 'PT Mono'
                , 'Menlo'
                , 'Consolas'
                , 'Monaco'
                , monospace
  }

a { text-decoration : underline }

h1
, h2
, h3
, blockquote
  /* needed for ::before and ::after */
  { position : relative }

h1::before
, h2::before
, h3::before
, blockquote::before
  { position : absolute
  ; right : 100%
  ; margin-right : 1ch
  ; display : inline-block
  ; text-align : right
  }

h1::before
  { content : '<~' }
h2::before
  { content : '=' }
h3::before
  { content : '+' }
blockquote::before
  { content : '>' }

li
  { list-style : none }
ul li
  { display : inline }
ul li:not(:last-child)::after
  { content : ', ' }

h2:not( :first-child )
, h3:not( :first-child )
  { margin-top : var( --line-height ) }


a:any-link::before
  { content : '['
  ; display : inline
  }
a:any-link::after
  { content : ']'
  ; display : inline
  }

a[href^='/'][href*='tag=']::before
  { content : '#'
  ; display : inline
  }
a[href^='/'][href*='tag=']::after
  { content : ''
  ; display : inline
  }

a[href^='/'][href*='lang=']::before
  { content : '{'
  ; display : inline
  }
a[href^='/'][href*='lang=']::after
  { content : '}'
  ; display : inline
  }

abbr
  { text-decoration-line : underline
  ; text-decoration-style : dotted
  }


/* colors */
a:any-link
, a[title]::after
  { color : var( --rose ) }
a[href^='/'][href*='tag=']
  { color : var( --light-red ) }
a[href^='/'][href*='lang=']
  { color : var( --blue ) }
abbr, abbr[title]::after
  { color : var( --light-yellow ) }
blockquote
  { color : var( --green ) }
dt
  { color : var( --purple ) }
h1
, h1 a:any-link
, h1::before
  { color : var( --red ) }
h1 a:any-link::before
, h1 a:any-link::after
  { content : none }

section.title-occupation
  { color : var( --gray ) }
h2
  { color : var( --orange ) }
h3
  { color : var( --dark-orange ) }

/*section.projects-list h3 a
  { color : var( --bg ) }
*/

h3.dark-blue *
, h3.dark-blue::before
  { color : var( --dark-blue ) }

h3.light-orange *
, h3.light-orange::before
  { color : var( --light-orange ) }

h3.light-red *
, h3.light-red::before
  { color : var( --dark-red ) }

h3.dark-green *
, h3.dark-green::before
  { color : var( --dark-green ) }


r { animation : 6s linear infinite running rainbow }
r:nth-of-type( n+1 ) { color : var( --red ); animation-delay : -6s }
r:nth-of-type( n+2 ) { color : var( --orange ); animation-delay : -5s }
r:nth-of-type( n+3 ) { color : var( --yellow ); animation-delay : -4s }
r:nth-of-type( n+4 ) { color : var( --green ); animation-delay : -3s }
r:nth-of-type( n+5 ) { color : var( --blue ); animation-delay : -2s }
r:nth-of-type( n+6 ) { color : var( --purple ); animation-delay : -1s }

@keyframes rainbow {
  00.00% { color : var( --red ) }
  16.66% { color : var( --orange ) }
  33.33% { color : var( --yellow ) }
  50.00% { color : var( --green ) }
  66.66% { color : var( --blue ) }
  83.33% { color : var( --purple ) }
  100.0% { color : var( --red ) }
}



/* grid */
body
  { background : var( --bg )
  ; padding : calc( 3 * var( --line-height ) ) 8ch
  ; min-height : calc( 100vh - (6 * var( --line-height )) )
  ; display : grid
  ; grid-template-columns : 12rem 1fr 1fr
  ; grid-template-rows : auto
  ; gap : calc( 3 * var( --line-height ) ) 4ch
  ; grid-template-areas :
    ' title        title-occupation     title-description     '
    ' skills       skills-tech          skills-speaking       '
    ' personality  personality-mindset  personality-interests '
    ' projects     projects-list        projects-list         '
    ' cv           cv-work              cv-education          '
    ' networks     networks-links       networks-links        '
  }

section.title { grid-area : title }
section.title-occupation { grid-area : title-occupation }
section.title-description { grid-area : title-description }

section.skills { grid-area : skills }
section.skills-tech { grid-area : skills-tech }
section.skills-speaking { grid-area : skills-speaking }

section.personality { grid-area : personality }
section.personality-interests { grid-area : personality-interests }
section.personality-mindset { grid-area : personality-mindset }

section.cv { grid-area : cv }
section.cv-work { grid-area : cv-work }
section.cv-education { grid-area : cv-education }

section.projects { grid-area : projects }
section.projects-list
  { grid-area : projects-list
  ; display : grid
  ; grid-template-columns : repeat( 2, 1fr )
  ; grid-template-rows : auto
  ; gap : var( --line-height ) 4ch
  }
section.projects-list section
  { margin : 0 }


section.networks { grid-area : networks }
section.networks-links
  { grid-area : networks-links
  ; display : grid
  ; grid-template-columns : repeat( 4, 1fr )
  ; grid-template-rows : auto
  ; gap : 4ch
  }
section.networks-links section
  { margin : 0 }

dl
  { display : grid
  ; grid-template-columns : auto 1fr
  ; gap : 0 1ch
  }


/* all touch-devices */
@media( hover : none )
{ [title]::after
    { content : ' (' attr(title) ')'
    ; display : inline
    }
}


/* tablet */
@media ( max-width : 1279px )
{ body
    { gap : var( --line-height )
    ; grid-template-columns : 12rem 1fr
    ; grid-template-areas :
      ' title        title-occupation      '
      ' .            title-description     '
      ' skills       skills-tech           '
      ' .            skills-speaking       '
      ' personality  personality-mindset   '
      ' .            personality-interests '
      ' projects     projects-list         '
      ' .            projects-list         '
      ' cv           cv-work               '
      ' .            cv-education          '
      ' networks     networks-links        '
      ' .            networks-links        '
    }

  section.header:not( :first-child )
  , section.header:not( :first-child ) + section
    { margin-top : calc( 2 * var( --line-height ) ) }

  section.projects-list
  , section.networks-links
    { display : flex
    ; flex-direction : column
    ; gap : 0
    }

  section.projects-list section:not( :last-child )
    { margin-bottom : var( --line-height ) }

  section.networks-links ol
    { display : flex }
  section.networks-links li:not( :last-child )
    { margin-right : 1ch }
}


/* mobile */
@media ( max-width : 1023px )
{ body
    { display : flex
    ; padding : var( --line-height ) 4ch
    ; flex-direction : column
    ; gap : 0
    }

  section
  , section.header:not( :first-child )
  , section.header:not( :first-child ) + section
    { margin-top : 0 }

  section.projects-list section
  , section.projects-list section:not( :last-child )
    { margin-bottom : 0 }

  section.header:not( :first-child )
    { margin-top : calc( 3 * var( --line-height ) ) }
  section.header + section
    { margin-top : var( --line-height ) }

  h3
  , h3:not( :first-child )
    { margin-top : var( --line-height ) }

  h2
  , h2:not( :first-child )
    { margin-top : 0 }
}
